.select {
    width:150px;
    height: 50px;
    border:3px solid black;
    border-radius: 5%;
    font-weight: bold;
    box-shadow:  0 10px 20px rgba(0,0,0,0.7), 0 6px 6px rgba(0,0,0,0.9);
    margin:20px;
    font-size: 30px;
}